@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Ürün Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
            <th>Ürün Stok Miktarı</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
            </tr>
        }
    </tbody>
</table>
